$main-orange: #FF553E;
$main-background: #FFF8F2;
$white: #fff;
$black: #000;
$dark-orange: #40201E;
$light-orange: #FA855C;
$light-blue: #7AD6E1;
$yellow: #FFC954;
$white-blue: #F3FDFE;
$green: #5BC17F;
$pink: #FE6292;
$dark-blue: #6B72FF;
$dark-silver: #404040c4;
$grey: #CCCCCC66;
$violet: #BAB0EFFF;
$white-orange: #FCC2AFFF;
$blue-background: #B7E7EDFF;
$footer-border: #40404049;
$partners-background: #F8FEFE;
$partners-item-background_1: #F3522519;
$partners-item-background_2: #33D66419;
$partners-item-background_3: #FFBB0019;
$partners-item-background_4: #4286F419;
$partners-item-background_5: #1C60BF19;
$checkbox-on-background: #FF543E4C;
$checkbox-off-background: #3A130E93;
$checkbox-off-item: #8A2F234C;

$breakpoint_b: 1790px; // big_desktop
$breakpoint_xxl: 1600px; // extra extra large / - larger_desktop
$breakpoint_xl: 1200px; // extra large / - large_desktop
$breakpoint_lg: 1024px; // large / - desktop
$breakpoint_md: 768px; // medium 768px / - tablets
$breakpoint_sm: 555px; // small 576px / - landscape_phone
$breakpoint_xs: 370px; // extra small / - portrait_phone

