section.analytics(id="demos") 
    .container 
        .analytics-wrapper 
            .container-min 
                .analytics-inner 
                    .analytics-left
                        .analytics-left__bground
                        img.analytics-left__img._anim-items(src="@img/analytics_screen.png" alt="")
                        img.analytics-left__img._anim-items(src="@img/Vector_5.svg" alt="")
                        img.analytics-left__img._anim-items(src="@img/analytics_1.png" alt="")
                        img.analytics-left__img._anim-items(src="@img/analytics_2.png" alt="")
                        img.analytics-left__img._anim-items(src="@img/analytics_3.png" alt="")
                        img.analytics-left__img._anim-items(src="@img/analytics_4.png" alt="")
                        img.analytics-left__img._anim-items(src="@img/analytics_5.svg" alt="") 
                    .analytics-right 
                        .analytics-right-inner 
                            .analytics-title._anim-items 
                                span.analytics-title__item
                                    span Analytics &
                                    span.analytics-title__item_underline  Reporting
                                span.analytics-title__item Brackdown
                            .analytics-info._anim-items
                                span.analytics-info__item An enim nullam tempor sapien gravida donec enim ipsum porta
                                span.analytics-info__item justo congue magna at pretium purus pretium ligula
                            .analytics-col 
                                .analytics-row._anim-items 
                                    .analytics-row-img-inner 
                                        img.analytics-row__img(src="@img/timer.svg" alt="") 
                                    .analytics-row-info 
                                        span.analytics-row-title Automatic event tracking
                                        span.analytics-row-text Time Tracking is never been easier.
                                        span.analytics-row-text Just let the stopwatch run
                                .analytics-row._anim-items 
                                    .analytics-row-img-inner 
                                        img.analytics-row__img(src="@img/frame.svg" alt="") 
                                    .analytics-row-info 
                                        span.analytics-row-title Customizable dashboard
                                        span.analytics-row-text Time Tracking is never been easier.
                                        span.analytics-row-text Just let the stopwatch run
                                .analytics-row._anim-items 
                                    .analytics-row-img-inner 
                                        img.analytics-row__img(src="@img/calendar_1.svg" alt="") 
                                    .analytics-row-info 
                                        span.analytics-row-title Statistics retroactively
                                        span.analytics-row-text Time Tracking is never been easier.
                                        span.analytics-row-text Just let the stopwatch run


















