section.banner
    .container
        .banner-inner
            .banner-images
                img.banner__image._anim-items(src="@img/Vector.svg" alt="")
                img.banner__image._anim-items(src="@img/Alarm_Clock.png" alt="")
                img.banner__image._anim-items(src="@img/Vector_2.svg" alt="")
                img.banner__image._anim-items(src="@img/Mobile_Screen_2.png" alt="")
                img.banner__image._anim-items(src="@img/Mobile_Screen_1.png" alt="")
                img.banner__image._anim-items(src="@img/Vector_3.svg" alt="")
                img.banner__image._anim-items(src="@img/Vector_5.svg" alt="")
                img.banner__image._anim-items(src="@img/Vector_4.svg" alt="")
                img.banner__image._anim-items(src="@img/clipboard.png" alt="")
            .banner-top
                .banner-info._anim-items
                    .banner-title
                        h3.banner-title__item A collaborative Time
                        h3.banner-title__item Tracking that you Need
                    span.banner-info__text An enum null am temper sapiens gravid done enum ipsum port justo tongue magna at premium purus premium angular
                    a.banner__link(href="#") Start 14 Days Trial
            .banner-bot
                .container-min
                    .banner-bot-inner 
                        .banner-bot-item 
                            span.banner-bot__title 15k+
                            span.banner-bot__info Active user
                        .banner-bot-item 
                            span.banner-bot__title 30k+
                            span.banner-bot__info Total Download
                        .banner-bot-item 
                            span.banner-bot__title 10k+
                            span.banner-bot__info Customer












