section.benefits 
    .container 
        .benefits-wrapper 
            img.benefits__image._anim-items(src="@img/benefits_01.png" alt="")
            img.benefits__image._anim-items(src="@img/benefits_05.svg" alt="")
            img.benefits__image._anim-items(src="@img/benefits_06.svg" alt="")
            img.benefits__image._anim-items(src="@img/benefits_07.png" alt="")
            img.benefits__image._anim-items(src="@img/benefits_08.png" alt="")
            img.benefits__image._anim-items(src="@img/benefits_09.png" alt="")
            img.benefits__image._anim-items(src="@img/benefits_10.svg" alt="")
            .container-min 
                .benefits-content-inner 
                    .benefits-title._anim-items 
                        span.benefits-title__item How our 
                            span.benefits-title__item_underline Tracker
                            span  work for you
                    .benefits-row 
                        .benefits-col._anim-items
                            .benefits-logo-inner 
                                img(src="@img/benefits_02.svg" alt="")
                            .benefits-col-item
                                span.benefits-col__title Time Tracking
                                span.benefits-col__text Time Tracking is never been easier.
                                span.benefits-col__text Just let the stopwatch run
                        .benefits-col._anim-items
                            .benefits-logo-inner 
                                img(src="@img/benefits_03.svg" alt="")
                            .benefits-col-item
                                span.benefits-col__title Expenses
                                span.benefits-col__text Time Tracking is never been easier.
                                span.benefits-col__text Just let the stopwatch run
                        .benefits-col._anim-items
                            .benefits-logo-inner 
                                img(src="@img/benefits_04.svg" alt="")
                            .benefits-col-item
                                span.benefits-col__title Budget controlling
                                span.benefits-col__text Time Tracking is never been easier.
                                span.benefits-col__text Just let the stopwatch run
























