section.features(id="features")
    .container 
        .features-wrapper 
            img.features-wrapper__img._anim-items(src="@img/3d_rocket.png" alt="")
            img.features-wrapper__img._anim-items(src="@img/Vector_6.svg" alt="")
            .container-min 
                .features-inner 
                    .features-title._anim-items 
                        span.features-title__item Some Excellent
                            span.features-title__item_underline  Features 
                            span For You
                        span.features-title__item An enim nullam tempor sapien gravida donec enim ipsum porta justo congue
                        span.features-title__item magna at pretium purus pretium ligula
                    .features-cards 
                        .features-card-wrapper 
                            .features-card-front._anim-items 
                                .features-card-img-inner
                                    .features-card__img
                                .features-card-title
                                    span.features-card-title Preset List of Task
                                    span.features-card-title Make bill payments easily using
                                    span.features-card-title the wallet app
                            .features-card-back._anim-items
                        .features-card-wrapper 
                            .features-card-front._anim-items 
                                .features-card-img-inner
                                    .features-card__img
                                .features-card-title
                                    span.features-card-title Reminder of Task
                                    span.features-card-title Make bill payments easily using
                                    span.features-card-title the wallet app
                            .features-card-back._anim-items
                        .features-card-wrapper 
                            .features-card-front._anim-items 
                                .features-card-img-inner
                                    .features-card__img
                                .features-card-title
                                    span.features-card-title Completion Report
                                    span.features-card-title Make bill payments easily using
                                    span.features-card-title the wallet app
                            .features-card-back._anim-items





















