footer.footer 
    .container-min 
        .footer-top._anim-items 
            .footer-logo 
                img(src="@img/Logo.svg" alt="")
            nav.footer-links 
                a.footer__link(href="#demos") Demos 
                a.footer__link(href="#features") Features
                a.footer__link(href="#pricing") Pricing 
                a.footer__link(href="#contacts")  Contacts
            .footer-socials 
                a.footer-social__link(href="#")
                    img.footer-social__logo(src="@img/socials_01.svg" alt="") 
                a.footer-social__link(href="#")
                    img.footer-social__logo(src="@img/socials_02.svg" alt="") 
                a.footer-social__link(href="#")
                    img.footer-social__logo(src="@img/socials_03.svg" alt="") 
                a.footer-social__link(href="#")
                    img.footer-social__logo(src="@img/socials_04.svg" alt="") 
        .footer-bot._anim-items 
            .footer-bor-left 
                a.footer-bot-left__link(href="#") Terms & condition
                a.footer-bot-left__link(href="#") Privacy policy    
            a.footer-bot-right(href="#") All Right Reserved @ plowv.com













