section.partners 
    .container
        .partners-images 
            .partners-image-inner._anim-items 
                img.partners__image(src="@img/partners_01.svg" alt="")
            .partners-image-inner._anim-items 
                img.partners__image(src="@img/partners_02.svg" alt="")
            .partners-image-inner._anim-items 
                img.partners__image(src="@img/partners_03.svg" alt="")
            .partners-image-inner._anim-items 
                img.partners__image(src="@img/partners_04.svg" alt="")
            .partners-image-inner._anim-items 
                img.partners__image(src="@img/partners_05.svg" alt="")
        .container-min 
            .partners-right 
                .partners-title-inner._anim-items 
                    span.partners__title See 
                        span.partners__title_underline Our Trusted
                    span.partners__title  partners
                span.partners__info._anim-items Vero homero perfecto mei ut, sonnet param an nec. Ni nec dict altera legible. Me vita de ledge dos expect end is ad. Ex mei omit alia mi ando
                a.partners__link._anim-items(href="#") Get started













