section.price(id="pricing")
    .container 
        .price-wrapper 
            img.price__img._anim-items(src="@img/price_01.png" alt="")
            img.price__img._anim-items(src="@img/price_03.svg" alt="")
            img.price__img._anim-items(src="@img/price_02.png" alt="")
            .container-min 
                .price-top._anim-items 
                    span.price__title Flexible work, 
                        span.price__title_underline Simple Price
                    span.price__info Growth your business with using us
                .price-bot 
                    .price-checkbox._anim-items 
                        span.price-checkbox__title Monthly 
                        label.checkbox-inner
                            input.real-checkbox(type="checkbox")
                            .fake-checkbox 
                        span.price-checkbox__title Yearly 
                    .price-cards 
                        .price-card._anim-items
                            span.price-row Free
                            span.price-row 1 seat
                            span.price-row 2 project
                            span.price-row
                                span.price-row__item.price-row__item_dimmed $        
                                span.price-row__number 0
                                span.price-row__item_dimmed /Forever 
                            a.price-row.price-row__link_orange(href="#") Start 14 Days Trial
                        .price-card.price-card__orange._anim-items
                            span.price-row Premium
                            span.price-row Unlimited Seat
                            span.price-row Unlimited project
                            span.price-row
                                span.price-row__item $        
                                span.price-row__number(id="price") 30
                                span(id="period") /Month 
                            a.price-row.price-row__link_white(href="#") Start 14 Days Trial


















