section.response
    .container
        .response-wrapper
            img.response__img._anim-items(src="@img/response_02.svg" alt="")
            img.response__img._anim-items(src="@img/response_01.png" alt="")
            img.response__img._anim-items(src="@img/response_03.png" alt="")
            img.response__img._anim-items(src="@img/response_05.svg" alt="")
            img.response__img._anim-items(src="@img/response_04.png" alt="")
            .container-min 
                .response-inner 
                    .response-title._anim-items 
                        span.response-title__item What our 
                            span.response-title__item_underline client
                            span  says 
                        span.response-title__item Growth your business with using us
                    .response-row._anim-items 
                        .response-col 
                            span.response-col__item Leading an organization is incredibly rewarding and equally humbling. Confidence and humility. Every success is built on lessons from mistakes made is incredibly rewarding 
                            span.response-col__item Mila McSab bu
                            span.response-col__item Designer
                        .response-col 
                            span.response-col__item There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or words which don't look even slightly believable
                            span.response-col__item John Tailor
                            span.response-col__item Developer















