.price {
  overflow: hidden;

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    @include translate-Y(150px, 0);

    &._active {
      @include translate-Y();
    }
  }

  &__title {
    margin-bottom: 43px;
    @include font-s-w(48px, 600);

    &_underline {
      position: relative;

      &:before {
        content: url('../img/Shape.svg');
        position: absolute;
        @include position-t-l(28px, 131px);
      }

      &:after {
        content: 'Simple Price';
        position: absolute;
        left: 0;
      }
    }
  }

  &-card {
    height: 608px;
    width: 470px;
    border: 1px solid $main-orange;
    border-radius: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 48px;

    &:nth-child(1) {
      @include translate-X(-150px, 0);

      &._active {
        @include translate-X();
      }
    }

    &:nth-child(2) {
      @include translate-X(150px, 0);

      &._active {
        @include translate-X();
      }
    }

    &__orange {
      background-color: $main-orange;
      color: $white;
      position: relative;
    }
  }

  &-cards {
    display: flex;
    justify-content: space-between;
  }

  &-row {
    display: flex;
    align-items: baseline;

    &:nth-child(1) {
      @include font-s-w(48px, 700);
    }

    &:nth-child(2),
    &:nth-child(3) {
      @include font-s-w(28px, 500);
    }

    &:nth-child(4) {
      position: relative;
    }

    &__number {
      @include font-s-w(64px, 700);
    }

    &__item {
      position: absolute;
      @include position-t-l(16px, -13px);

      &_dimmed {
        color: $dark-silver;
      }
    }

    &__link {
      &_orange {
        height: 76px;
        width: 240px;
        background-color: $main-orange;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        border-radius: 40px;
      }

      &_white {
        height: 76px;
        width: 240px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-orange;
        border-radius: 40px;
      }
    }
  }

  &-wrapper {
    position: relative;
  }

  &__img {
    position: absolute;

    &:nth-child(1) {
      @include position-t-l(558px, -179px);
      @include translate-X(-150px, 0);

      &._active {
        @include translate-X();
      }
    }

    &:nth-child(2) {
      @include position-t-r(256px);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      opacity: 0;
      @include position-t-r(300px, 400px);

      &._active {
        transform: rotate(0deg);
        opacity: 1;
        @include position-t-r(147px, 80px);
      }
    }
  }

  &-checkbox__title {
    color: $dark-silver;
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  &-checkbox {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    @include translate-Y(120px, 0);

    &._active {
      @include translate-Y();
    }
  }

  .real-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked + .fake-checkbox {
      background-color: $checkbox-on-background;

      &:before {
        background-color: $main-orange;
        left: 48px;
      }
    }
  }

  .checkbox-inner {
    margin: 0 20px;
  }

  .fake-checkbox {
    height: 40px;
    width: 84px;
    background-color: $checkbox-off-item;
    border-radius: 40px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;

    &:before {
      content: '';
      height: 28px;
      width: 28px;
      background-color: $checkbox-off-background;
      border-radius: 50%;
      position: absolute;
      transition: 0.3s;
      @include position-t-l(6px, 6px);
    }
  }
}