@include big_desktop {

  // 1790px
  .banner {
    &__image {
      &:nth-child(1) {
        left: 88px;
      }

      &:nth-child(2) {
        left: 230px;
      }

      &:nth-child(5)._active {
        transform: translateX(-50px);
      }

      &:nth-child(8) {
        right: 580px;
      }

      &:nth-child(9) {
        right: 435px;
      }
    }
  }
}

@include larger_desktop {

  // 1600px
  .banner {
    &-bot {
      width: 100%;
    }

    &__image {
      &:nth-child(1) {
        @include position-t-l(17px, 2px)
      }

      &:nth-child(2) {
        @include position-t-l(46px, 156px)
      }

      &:nth-child(3) {
        top: 10px;
      }

      &:nth-child(4) {
        &._active {
          display: none;
        }
      }

      &:nth-child(5) {
        display: none;
      }

      &:nth-child(6) {
        left: 260px;
      }

      &:nth-child(7) {
        display: none;
      }

      &:nth-child(8) {
        right: 275px;
      }

      &:nth-child(9) {
        right: 126px;
      }
    }
  }
}

@include large_desktop {

  // 1200px
  .banner {
    &-title {
      font-size: 50px;

      &__item:nth-child(2)::before {
        top: 42px;
      }
    }

    &__image {
      &:nth-child(6) {
        left: 220px;
      }

      &:nth-child(8) {
        right: 240px;
      }

      &:nth-child(9) {
        right: 100px;
      }
    }

    &-bot {
      bottom: -482px;
    }
  }
}

@include desktop {

  // 1024px
  .banner {
    &__image:nth-child(9) {
      display: none;
    }
  }
}

@include tablets {

  // 768px
  .banner {
    height: 650px;

    &__image {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        height: 100px;
        left: initial;
        @include position-t-r(0, 50px);
      }

      &:nth-child(6) {
        top: initial;
        @include position-b-l(-89px, 0);
      }

      &:nth-child(8) {
        top: initial;
        @include position-b-r(-10px, 160px);
      }
    }

    &-top {
      justify-content: flex-start;
      text-align: left;
    }

    &-info {
      align-items: flex-start;
      margin-top: 0;
    }

    &-title {
      font-size: 33px;
    }

    &-bot {
      bottom: -340px;
    }
  }
}

@include landscape_phone {

  // 555px
  .banner {
    height: 730px;

    &-title {
      font-size: 22px;

      &__item {
        margin: 0;

        &:nth-child(2) {
          margin: 10px 0;

          &:before {
            content: url('../img/Shape-2.svg');
            top: 9px;
          }
        }
      }
    }

    &-info {
      margin-top: 90px;

      &__text {
        margin-top: 15px;
      }
    }

    &__image:nth-child(8) {
      top: initial;
      @include position-b-r(-96px, 0);
    }

    &-bot {
      border-radius: 0;
      bottom: -400px;
      @include size(300px, 106%);

      &-inner {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
      }

      &-item {
        padding-bottom: 10px;

        &:nth-child(1),
        &:nth-child(2) {
          border-bottom: 2px solid $grey;
        }
      }
    }
  }
}

@include portrait_phone {

  // 370px
  .banner {
    &-bot {
      width: 110%;

      &::before,
      &::after {
        display: none;
      }

      &__title {
        font-size: 42px;
      }

      &-inner {
        padding: 10px 0;
      }
    }
  }
}