html 
    include html/head 
    body
        include html/header
        main.page
            h1 Привіт!
            span оновлення
            img(src="@img/pictures.jpg")
            h2 Ну здарова
            h3 Повідомлення
        include html/footer
        script(src="js/app.min.js")