html 
    include html/head 
    body
        a.anchor(href="#")
            span 
        include html/header
        main.main
            include html/banner
            include html/features
            include html/analytics
            include html/benefits
            include html/price
            include html/partners
            include html/response
            include html/apps
        include html/footer
        script(src="js/app.min.js")